<form action='/login' method='post' class="form-inline well">
  <p>
    Enter your Canvas domain to login in and start the setup process.
  </p>
  <input name='canvas_domain' placeholder="" autofocus>
  <input class="btn primary" type='submit' value='Log In'>
</form>
