<div class='alert'>Canvas Traffic Visualization Tool successfull installed!</div>

<p>
	Click <a href="http://<%= session[:canvas_domain] %>/accounts/self">here</a>
	to go to your account page and try it out.
</p>