<form action='/setup_tool' method='post' class="form-inline well">
  <p>
    <div class='alert'>Successfully logged in to <%= session[:canvas_domain] %>.</div>
  </p>

  <p>
  	Continue setting up the Canvas Traffic tool in your account?
  </p>

  <input class="btn primary" type='submit' value='Install Tool'>
</form>
